<div class="container mx-auto my16">
    <!--alert-->
    <div *ngIf="isSuccessful" class="p-5 my-3 bg-teal-100 text-teal-900">
        {{ successMessage }}
    </div>
    
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img [src]="siteImgURL" alt="">
            <h3 class="text-xl font-bold p-3">{{ siteName }}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{ siteURL }}
                </div>
            </div>
        </div>
        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center">{{ formState }} User & Password</h2>
            <p class="text-center">You can {{ formState }} user & password using the form below</p>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Email</label>
                    <input [(ngModel)] = 'email' type="email" name="email" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Username</label>
                    <input [(ngModel)] = 'username' type="email" name="username" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Password</label>
                    <input [(ngModel)] = 'password' type="password" name="password" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>

                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                    {{ formState }} Password
                </button>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">Username</th>
                    <th class="border-2 border-gray-900 p-3">Password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let password of passwordList; let i = index">
                    <td class="border-2 border-gray-900 p-3">{{ password.email }}</td>
                    <td class="border-2 border-gray-900 p-3">{{ password.username }}</td>
                    <td class="border-2 border-gray-900 p-3">{{ password.password }}
                        <button
                        (click)="onDecrypt(password.password, i)"
                        class="mx-0.5 px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md">
                            Decrypt
                        </button>
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        <button (click)="editPassword(password.email, password.username, password.password, password.id)"
                        class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                            Edit
                        </button>
                        <button
                        (click)="deletePassword(password.id)"
                        class="mx-0.5 px-5 py-3 text-sm border-2 border-x-gray-900 text-gray-900 shadow rounded-md">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
                
        </table>
    </div>
</div>